body{
    margin: 0px;
}

.main{
display: flex;
flex-direction: row; 
height: 100vh;
}


.left{ 
flex: 1;
align-self: center;
display: flex;
justify-content: center;
align-items: center;

}
.right{ 
flex: 1;
}


ul{
   list-style-type: none;
}
li{
    display: block;
    margin: 2px;

    border: 1px solid gray;
    padding: 5px;
    
}
li:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

 
